<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/cx-header :: head"> Error!! </div>
<div th:replace="fragments/cx-header :: header"> Error!! </div>
<body data-page="1" data-layout="0" class="scrolling">
      <main id="content">
         <a id="query"></a>
         <section id="c9" class="frame frame-default frame-type-catena_faq frame-layout-0">
            <div class="ce-main">
               <div class="faq">
                  <div class="container-outer">
                     <div class="faq-header row">
                        <div class="offset-sm-1 offset-md-2 col-sm-10 col-lg-6">
                           <header class="ce-header">
                              <h2 id="query_headline" class="ce-headline ">
                                 An Error occurred!
                              </h2>
                           </header>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>
   </div>
   <div th:replace="fragments/cx-footer :: footer"> Error!! </div>
   <script th:src="@{merged-9dfaf80662c2d8b32c41551c3d577705-34e00f9ce05b956f9668a.js}"></script>
   <script>
       function showMe(e) {
          var selected = e.options[e.selectedIndex].value;
          var options = e.options;
          for(var option of options) {
            if(selected == option.value) {
               document.getElementById(option.value).style.display = "block";
            }
            else {
               document.getElementById(option.value).style.display = "none";
            }
          }
       }
   </script>
</body>
</html>