<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/cx-header :: head"> Error!! </div>
<div th:replace="fragments/cx-header :: header"> Error!! </div>
<body data-page="1" data-layout="0" class="scrolling">
      <main id="content">
         <a id="query"></a>
         <section id="c9" class="frame frame-default frame-type-catena_faq frame-layout-0">
            <div class="ce-main">
               <div class="faq">
                  <div class="container-outer">
                     <div class="faq-header row">
                        <div class="offset-sm-1 offset-md-2 col-sm-10 col-lg-6">
                           <header class="ce-header">
                              <h2 id="query_headline" class="ce-headline ">
                                 Catena-X OEM Health Indicators App
                              </h2>
                           </header>
                        </div>
                     </div>

                     <div class="faq-items row" id="faq9">
                        <div class="offset-sm-1 offset-md-2 col-16 col-sm-14 col-md-12">
                           <ol class="list-unstyled">
                              <li class="faq-item">
                                 <div class="faq-answer collapse show" id="data_body_0" aria-labelledby="data_header_0" data-parent="#faq9">
                                    <div class="faq-answer-body" id="table-div">
                                       <table sytle="border-collapse: separate; border-spacing: 5px 0;">
                                          <tbody>
                                             <th>
                                                <td>HI L</td>
                                                <td>HI A</td>
                                                <td>Vehicle ID</td>
                                                <td>Gearbox ID</td>
                                                <td>Vehicle Production Date</td>
                                                <td>Calculation Date</td>
                                             </th>
                                             <tr th:each="hiVehicle: ${hiVehicles}">
                                                <td th:switch="${hiVehicle.healthStateLoadSpectra}">
                                                   <img th:case="${T(net.catena_x.btp.hi.oem.frontend.model.enums.HIFHealthState).CALCULATION_PENDING}" source="" alt="A greyed-out traffic light"/>
                                                   <img th:case="${T(net.catena_x.btp.hi.oem.frontend.model.enums.HIFHealthState).RED}" source="" alt="A red traffic light"/>
                                                   <img th:case="${T(net.catena_x.btp.hi.oem.frontend.model.enums.HIFHealthState).YELLOW}" source="" alt="A yellow traffic light"/>
                                                   <img th:case="${T(net.catena_x.btp.hi.oem.frontend.model.enums.HIFHealthState).GREEN}" source="" alt="A green traffic light"/>
                                                </td>
                                                <td th:switch="${hiVehicle.healthStateAdaptionValues}">
                                                   <img th:case="${T(net.catena_x.btp.hi.oem.frontend.model.enums.HIFHealthState).CALCULATION_PENDING}" source="" alt="A greyed-out traffic light"/>
                                                   <img th:case="${T(net.catena_x.btp.hi.oem.frontend.model.enums.HIFHealthState).RED}" source="" alt="A red traffic light"/>
                                                   <img th:case="${T(net.catena_x.btp.hi.oem.frontend.model.enums.HIFHealthState).YELLOW}" source="" alt="A yellow traffic light"/>
                                                   <img th:case="${T(net.catena_x.btp.hi.oem.frontend.model.enums.HIFHealthState).GREEN}" source="" alt="A green traffic light"/>
                                                </td>
                                                <td><span th:text="${hiVehicle.vehicleId}"></span></td>
                                                <td><span th:text="${hiVehicle.gearboxId}"></span></td>
                                                <td><span th:text="${hiVehicle.productionDate}"></span></td>
                                                <td><span th:text="${hiVehicle.updateTimestamp}"></span></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </li>
                           </ol>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>
   </div>
   <div th:replace="fragments/cx-footer :: footer"> Error!! </div>
   <!--<script src="queries.js"></script> This script does not seem to exist -->
   <script th:src="@{merged-9dfaf80662c2d8b32c41551c3d577705-34e00f9ce05b956f9668a.js}"></script>
</body>
</html>